# Backend
PORT=3001
DATA_PATH=./data
FRONTEND_URL=http://localhost:3000
DISCORD_TOKEN=your_discord_bot_token
DISCORD_APP_ID=your_discord_app_id

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:3001/api/v1/ws
